state_machines/AccountOnBoardingProcess.json
{
  "Comment": "AWSConfig Status Check for All Regions",
  "StartAt": "Federation",
  "States": {
    "Federation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:SungardAS-aws-services-federation-LambdaFunction-CTOAWJSW97XN",
      "InputPath": "$.federation",
      "ResultPath": "$.federation",
      "Next": "FindRegionsState"
    },
    "FindRegionsState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_find_regions",
      "InputPath": "$",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.num",
          "NumericGreaterThan": 0,
          "Next": "ChooseRegionState"
        },
        {
          "Variable": "$.num",
          "NumericEquals": 0,
          "Next": "SetFinalResultState"
        }
      ],
      "Default": "SetFinalResultState"
    },
    "ChooseRegionState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_choose_region",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "SetResultState",
      "Branches": [
        {
          "StartAt": "CloudtrailActionState",
          "States": {
            "CloudtrailActionState": {
              "Type" : "Task",
              "Resource": "arn:aws:lambda:us-east-1:089476987273:function:SungardAS-aws-services-cloudtrail-LambdaFunction-15XIYTNI3GDMJ",
              "InputPath": "$.resources.cloudtrail.input",
              "ResultPath": "$.resources.cloudtrail.action_result",
              "End": true
            }
          }
        },
        {
          "StartAt": "AWSConfigActionState",
          "States": {
            "AWSConfigActionState": {
              "Type" : "Task",
              "Resource": "arn:aws:lambda:us-east-1:089476987273:function:AlexOugh-aws-services-awsconfig-LambdaFunction-WN7JHA93QPUZ",
              "InputPath": "$.resources.awsconfig.input",
              "ResultPath": "$.resources.awsconfig.action_result",
              "End": true
            }
          }
        }
      ]
    },
    "SetResultState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_set_result",
      "Next": "ChoiceState"
    },
    "SetFinalResultState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_final_result",
      "Next": "FinalState"
    },
    "FinalState": {
      "Type": "Pass",
      "End": true
    }
  }
}
