state_machines/AccountOnBoardingLaunch.json
{
  "Comment": "Check the Status of OnBoarding Process",
  "StartAt": "StartExecution",
  "States": {
    "StartExecution": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:state_machine_run",
      "Next": "CheckExecution"
    },
    "CheckExecution": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:state_machine_run_check",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "RUNNING",
          "Next": "Wait5s"
        },
        {
          "Variable": "$.status",
          "StringLessThan": "RUNNING",
          "Next": "SendMessageToSlack"
        },
        {
          "Variable": "$.status",
          "StringGreaterThan": "RUNNING",
          "Next": "SendMessageToSlack"
        }
      ],
      "Default": "Wait5s"
    },
    "Wait5s": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckExecution"
    },
    "SendMessageToSlack": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:send_message_to_slack",
      "Next": "FinalState"
    },
    "FinalState": {
      "Type": "Pass",
      "End": true
    }
  }
}
