AWSConfigStatusEnablerForAllRegions.json
{
  "Comment": "AWSConfig Status Check for All Regions",
  "StartAt": "Federation",
  "States": {
    "Federation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:aws-services-federation-LambdaFunction-105BYYZ6G9KZQ",
      "Next": "FindRegionsState"
    },
    "FindRegionsState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_find_regions",
      "InputPath": "$.body",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.num",
          "NumericGreaterThan": 0,
          "Next": "ChooseRegionState"
        },
        {
          "Variable": "$.num",
          "NumericEquals": 0,
          "Next": "SetFinalResultState"
        }
      ],
      "Default": "SetFinalResultState"
    },
    "ChooseRegionState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_choose_region",
      "Next": "MainActionState"
    },
    "MainActionState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:aws-services-awsconfig-PostFunction-46374526HPWH",
      "ResultPath": "$.action_result",
      "Next": "SetResultState"
    },
    "SetResultState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_set_result",
      "Next": "ChoiceState"
    },
    "SetFinalResultState": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:089476987273:function:repeated_final_result",
      "Next": "FinalState"
    },
    "FinalState": {
      "Type": "Pass",
      "End": true
    }
  }
}
